.container {
  max-width: calc(100vw - 40px);
  text-align: center;
  margin: 20px;
  overflow: auto;
  max-height: 400px;
}
.mat-table {
  border-radius: 15px;
}
table {
  width: 100%;
  max-height: 40vh;
  border-collapse: collapse;
  border-radius: 15px; 
}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid;
  font-weight: bold;
  border-radius: 10px;
}

table tr:first-child th {
  border-top:0 solid;
  border-radius: 10px;
}
td, th{
  text-align: center;
}

.won {
  background-color: green;
}